<div
  id="top-box"
  style="
    opacity: 1;
    display: none;
    z-index: 9999999;
    padding: 2rem;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
  "
>
  {% comment %} 第一次弹窗 {% endcomment %}
  <div
    id="log"
    style="
      width: 300px;
      height: 300px;
      background-color: white;
      margin: 0 auto;
      margin-top: calc((90vh - 370px) / 2);
      text-align: center;
      position: relative;
      font-size: 20px;
    "
  >
    <div
      id="log-box"
      style="height: 185px;color:white;background-image: linear-gradient(to right top, #4094dd, #68e3de);"
    >
      <div
        id="tl_log_close"
        style="
          position: absolute;
          right: 5px;
          top: 5px;
          line-height: 30px;
          width: 30px;
          height: 30px;
          color: white;
          border-radius: 4px;
        "
      >
        <svg
          stroke="currentColor"
          fill="currentColor"
          stroke-width="0"
          viewBox="0 0 24 24"
          height="1em"
          width="1em"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path stroke="#FFF" stroke-width="2" d="M3,3 L21,21 M3,21 L21,3"></path>
        </svg>
      </div>
      <div style="font-size:40px" id="tl_title"><span class="tl_discount_percent"></span></div>
      <div style="padding: 10px;padding-top:0;font-size:20px" id="tl_msg">
        Don't Miss Out <br>
        <span class="tl_discount_percent"></span> Today!
      </div>
      <div
        id="tl_final_discount"
        style="
          display: none;
          color: black;
          width: 190px;
          font-size: 35px;
          background-color: white;
          font-weight: bolder;
          margin: 10px auto;
          margin-top: 0px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
          height: 55px;
          border-radius: 3px;
          line-height: 55px;
        "
      >
        <span class="tl_final_discount_percent"></span>
      </div>
    </div>
    <div
      id="tl_btn"
      style="
        width: 250px;
        margin: 0 auto;
        background-color: #ffc64c;
        padding: 7px;
        margin-top: 35px;
        border-radius: 6px;
        font-weight: bold;
        color: white;
      "
    >
      <span class="tl_discount_percent2"></span>
    </div>
  </div>
</div>

<div
  id="tip"
  style="
    opacity: 1;
    display: none;
    z-index: 9999;
    padding: 2rem;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
  "
>
  <div
    id="msg"
    style="
      background-color: #41ade8;
      margin: 0 auto;
      margin-top: calc((90vh - 200px) / 2);
      text-align: center;
      position: relative;
      color: white;
      padding: 10px;
      border-radius: 10px;
      font-size: 23px;
    "
  >
    <img src="{{ 'coupon.svg' | asset_url }}" style="display:block;width:100px;height:100px;margin:0 auto">
  </div>
</div>

<script>
  const thisProductMsg = {{ product | json}}
</script>
<script src="{{ 'popup.js' | asset_url }}"></script>

{% comment %} loading 组件 {% endcomment %}
<div
  id="tl_loading"
  style="
    opacity: 1;
    display: none;
    z-index: 9999999;
    padding: 2rem;
    position: fixed;
    top: 0;
    bottom: 0;
    color: orange;
    font-size: 30px;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
  "
>
  loading...
</div>
